main{
    margin: 0 auto;
    width: 1280px;
    padding: 0;
}

.title{
    display: flex;
    align-items: start;
    justify-content: start;
    font-size: 80px;
    text-decoration: none;
    padding-top: 63px auto;
}


.black{
    color: black;
}

.blue{
    color: #4BCAFF;
}


a{
    text-decoration: none;
    color: #000000 #4BCAFF;
}


.first-block{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    border: 1px solid  #35444F;
background-color:#35444F;
height: 69px;
color: white;
margin: 40px auto;

}
  
.word1{
    display: flex;
    border: 1px solid white ;
    padding-right: 70px;
    align-items: center;
    justify-content: center;
    padding-left: 32px;
    height: 100%;
}

.word2{
    border: 1px solid white;
    background-color: #222F3A;
    height: 100%;
 padding-right: 38px;
 padding-left: 38px;
    align-items: center;
    justify-content: center;
    display: flex;
    
}
word2.hover{
    background-color: red;
}
  

.word3{
    border: 1px solid white;
    padding-right: 80px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  padding: 24px 40px;
   
}

.word4{
    border: 1px solid white;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 40px;
    padding-right: 18px;
    padding: 24px;
}

.main-coantainer{
    display: flex;
    justify-content: space-between;
}

.container-menu{

   display: flex;

  color: #495863;
  border: 1px solid black;
 
  flex-direction: column;
  width: 344px;
  box-sizing: border-box;

  font-size: 27px;
  padding: 0;
  height: 399px;
}

.container-menu li{
 
    padding: 25px 44px;
    list-style: none;
}

.left-menu-word-main {
    color: black;
    background-color:#DBDBDB;
    width: auto;
    display: flex;
    justify-content:flex-start;
    box-sizing: border-box;
}

.left-menu-word{
    width: auto; 
    margin-left: 27px;
}

.main-image{
    height: 529px;
    width: 885px;
    border: 1px solid #000000;
    display: flex;
    justify-content: center;
    align-items: center;
  row-gap: 52px;
}

image{
height: 381px;
width: 320px;
    padding-top: 75px;
    padding-bottom: 73px;
}

.paragraphs {
    width: 1280px;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.first-paragraph{
    font-size: 18px;
    width: 885px;
    padding-top: 37px;
}


.second-paragraph{
    font-size: 18px;
    width: 885px;
  padding-top: : 34px;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
   list-style: none;
    background-color: #63696E7A;
    gap:  30px;
    height: 69px;
    margin-top: 54px;
}

.date{
padding-left: 135px;
padding-right: 40px;

}

.word{
    color:#3181A6;
}